.game-wrapper {
    margin: 15rem;
    justify-content: center;
    input {
        width: 65%;
    }
}

.summation-status {
    height: 5rem;
}

.number {
    margin-right: 1.5rem;
}

.expression {
    font-size: 4rem;
}

#timer-text {
    border: solid 2px blue;
}

#timer-count {
    border: solid 1px blue
}

#average-text {
    border: solid 2px violet;
}

#average-count {
    border: solid 1px violet;
}